
.content{
    width: 100%;
}

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box .cuadro{
    background-color: #3b3b3b;
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.imagenes{
    width: 100px;
    height: 100px;
}