<<<<<<< HEAD
.content{
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 488px;
}

.box{
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #c7c7c7;
    margin-top: 10px;
    justify-content: space-between;
}

.box .cuadro{
    width: 100px;
    height: 100px;
}

.box .imagenes{
=======

.content{
    width: 100%;
}

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box .cuadro{
    background-color: #3b3b3b;
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.imagenes{
>>>>>>> pb/main
    width: 100px;
    height: 100px;
}